<div class="nav navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">PASSPORT-LOCAL</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a ui-sref="home" ui-sref-active="active">HOME</a></li>
        <li ng-if="!ctrl.user"><a ui-sref="login" ui-sref-active="active">LOGIN</a></li>
        <li ng-if="ctrl.user"><a href="/logout" ui-sref-active="active">LOGOUT</a></li>
      </ul>
    </div>
  </div>    
</div>
