<h1>Home</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <h4 ng-if='!ctrl.user'>Please <a ui-sref='login'>login</a> first.</h4>
    <h3 ng-if='ctrl.user'>Welcome back, {{ctrl.user | uppercase}}!</h3>
  </div>
</div>
