<!DOCTYPE html>
<html lang="en" ng-app="FUL">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>File Upload</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-controller="FulCtrl as ctrl">
<div class="container">

<form name="fulForm" novalidate ng-submit="ctrl.upload()">
  <h1>File Upload</h1>
    
  <img ngf-thumbnail="ctrl.file" height="100"><br />
  <div ng-show="ctrl.file">
    <span>{{ctrl.file.name}}</span>
    <span>{{ctrl.file.size}} in bytes </span>
  </div>

  <div class="form-group">
  <label for="file">
  <input 
    type="file"
    ngf-select
    ng-model="ctrl.file"
    ngf-multiple="false"
    ngf-pattern="'image/*'">
  </label>
  <button type="submit" class="btn btn-success" ng-disabled="fulForm.$invalid">Submit</button>
  </div>
</form>

<form name="fulFormS3" novalidate ng-submit="ctrl.uploadS3()">
  <h1>S3 File Upload</h1>
  <img ngf-thumbnail="ctrl.fileS3" height="100"><br />
  <div ng-show="ctrl.fileS3">
    <span>{{ctrl.fileS3.name}}</span>
    <span>{{ctrl.fileS3.size}} in bytes </span>
  </div>

  <div class="form-group">
  <label for="fileS3">
  <input
    type="file"
    ng-model="ctrl.fileS3" 
    ngf-select
    ngf-multiple="false"
    ngf-pattern="'image/*'">
  </label>
  <button type="submit" class="btn btn-success btn-sm" ng-disabled="fulFormS3.$invalid">Submit</button>
  </div>

</form>

</div>  
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/ng-file-upload/ng-file-upload.js"></script>

<script src="/app/app.js"></script>
<script src="/app/fileupload/ful.controller.js"></script>
</body>
</html>