<!DOCTYPE html>
<html lang="en" ng-app="WCA">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Webcam</title>
</head>
<body ng-controller="WebcamJSController as ctrl">
  <h1>Webcam</h1>

  <!-- Configure a few settings and attach camera -->
  <div>
  <webcam 
    channel="ctrl.channel"
    on-streaming="ctrl.onSuccess()"
    on-error="ctrl.onError(err)"
    on-stream="ctrl.onStream(stream)">
  </webcam>
  <button class="btn btn-default" type="button" 
  ng-click="ctrl.makeSnapshot()">Capture</button>
  <button class="btn btn-danger" type="button" 
  ng-click="ctrl.turnOff()">Stop</button>
</div>
<canvas ng-hide="false" id="snapshot" width="200" height="200"></canvas>

<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/webcam/dist/webcam.min.js"></script>
<script type="text/javascript" src="app/app.js"></script>
<!-- <script type="text/javascript" src="app/webcamjs/webcam.min.js"></script> -->
<script type="text/javascript" src="app/webcamjs/webcamjs.controller.js"></script>

</body>
</html>