<div class="flex-h">
    <div class="people" ng-controller="PeopleCtrl as ctrl">
        
        <h3>Some people:</h3>
        <ul>
            <li ng-repeat="person in ctrl.people">
            <a ui-sref-active="active" ui-sref="E({ personId: person.id })">
            {{person.id}}. {{person.name}} 
            </a>
            </li>
        </ul>
    </div>
    <ui-view></ui-view>
</div>